$bgColor: #fbfbfd;
$bgColorDark: #eee;
$headerColor: #24292e;
$borderColor: rgb(223, 226, 229);

$textColorWhite: #eee;
$textColorBlack: #212121;

$primaryColor: dodgerblue;
$primaryColorLight: skyblue;
$secondaryColor: orange;
