$bgColor: white;
$bgColorDark: #fbfbfd;
$bgSecondaryColor: dodgerblue;
$headerColor: #fafbfc;
$headerColorDark: #deedfc;
$borderColor: #e1e4e8;
$popupHeaderColor:#24292e;

$textColorWhite: #eee;
$textColorBlack: #212121;

$primaryColor: dodgerblue;
$primaryColorLight: #eff7ff;
$primaryColorDark: #0366d6;
$secondaryColor: orange;
