@import '../variables';

@mixin githubExtensionHeader() {
	.github-extension-header,
	&.github-extension-header {
		background-color: $headerColor;
		padding: 5px 10px;
		min-height: 50px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-bottom: thin solid $borderColor;

		> div {
			margin: 5px 0;
		}

		svg.placeholder[role='img'] {
			height: 50px;
			width: 100%;
		}

		.github-extension-header-info-title {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $primaryColor;
			font-size: 14px;
			width: 100%;

			& .bold {
				font-weight: bold;
			}

			> a {
				color: $primaryColor;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				&:hover {
					text-decoration: underline;
				}

				&:visited {
					color: $primaryColor;
				}
			}

			> span {
				color: $primaryColor;
				margin: 0 5px;
			}

			> svg {
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
					width: 16px;
					height: 16px;
				}

				&.fa-chevron-double-right-solid {
					width: 8px;
					height: 8px;
				}
			}

			> a,
			> svg,
			> span {
				flex-shrink: 0;
				&:last-child {
					flex-shrink: 1;
				}
			}
		}
		.github-extension-header-branch {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $textColorWhite;
			font-size: 10px;
			width: 100%;

			> svg {
				color: $primaryColor;
				width: 13px;
				height: 13px;

				&:first-child {
					margin-left: 0;
				}

				&.fa-chevron-double-right {
					font-size: 8px;
				}
			}

			> span {
				// background-color: $bgSecondaryColor;
				padding: 3px 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				max-width: 100%;

				// Option 2
				// background-color: inherit;
				// border: thin solid lightgray;
				// border: thin solid dodgerblue;
				// color: dodgerblue;
				// font-weight: bolder;

				// opcion 3 (seria cambiar primary color?)
				background-color: $headerColorDark;
				color: $primaryColorDark;
			}

			> span,
			> svg {
				flex-shrink: 0;
				&:last-child {
					flex-shrink: 1;
				}
			}
		}
	}
}
