@import "../../../../scss/globals";

#githubExtensionPopupPullRequests {
    overflow-y: auto;
    position: relative;
    .pull-request-loader {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 15px;
        right: 20px;
        background: $primaryColor;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .pull-request {
        min-height: 75px;
        padding: 5px 0;
        display: flex;
        align-items: center;
        border-bottom: thin solid $borderColor;

        &:hover {
            background-color: #f6f8fa;
        }

        > svg.react-icon {
            margin: 0 10px;
            width: 15px;
            flex-shrink: 0;
        }

        .pr-content {
            display: flex;
            flex-direction: column;
            > a,
            .title-content > a {
                color: $textColorBlack;
                cursor: pointer;
                &:hover {
                    color: $primaryColor;
                }
            }
            > a {
                opacity: 0.8;
                margin-right: 20px;
                margin-bottom: 3px;
                font-size: 14px;
                color: gray;
            }
            .title-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .ui-github-label {
                    margin: 3px 5px;
                }
            }
            > .pr-content-info {
                font-size: 12px;
                margin-top: 5px;
                > a {
                    color: currentColor;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}
