body.padding-left {
	padding-left: var(--github-body-padding-left);
}
body > nav#githubExtensionNav {
	box-sizing: border-box;
	position: fixed;
	z-index: 998; /* Just below 999 to keep github overlays visible */
	right: 0px !important;
	top: 0px !important;
	bottom: 0px !important;
	left: 0px !important;
	overflow: visible;
	width: 300px;
	display: none;
}
body > nav#githubExtensionNav.visible {
	display: block;
}
body > nav#githubExtensionNav iframe {
	width: 100%;
	height: 100%;
}
body > nav#githubExtensionNav > .ui-resizable-e {
	cursor: ew-resize;
}
