body {
    &.padding-left {
        padding-left: 300px !important;
    }
    > nav#githubExtensionNav {
        box-sizing: border-box;
        position: fixed;
        z-index: 999999999999;
        right: 0px !important;
        top: 0px !important;
        bottom: 0px !important;
        left: 0px !important;
        overflow: visible;
        width: 300px;
        display: none;

        &.visible {
            display: block;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
