#githubExtensionPullRequest {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.github-extension-pull-request-labels {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5px;
		padding-top: 0;
	}

	.github-extension-pull-request-reviews {
		display: flex;
		align-items: center;
		padding: 7px;
	}

	.github-extension-pull-request-actions {
		display: flex;
		justify-content: center;
		padding: 7px;
		padding-top: 0;
		.placeholder {
			margin-top: -5px;
			margin-bottom: -5px;
		}
	}
}
